textarea:focus, input:focus, button:focus {
    outline: solid 1px rgb(75, 75, 75);
}

body {
    background-color: rgb(252, 252, 252);
}

/* SOURCE: https://stackoverflow.com/a/39405065 */
#settings-btn:not([aria-expanded="true"]) .fas.fa-level-down-alt,
#settings-btn[aria-expanded="false"] .fas.fa-level-down-alt,
#settings-btn[aria-expanded="true"] .fas.fa-cog {
   display:none;
}

.popup-alert {
    padding: 15px;
    position: fixed;
    left: 50%;
    z-index: 1;
    /* SOURCE: https://www.w3schools.com/css/css_align.asp */
    transform:translateX(-50%);
    -webkit-transform:translate(-50%);
    -ms-transform: translate(-50%);
    display: none;
}

#modal-bar {
    background-color: #299D8E;
    color: white;
    box-shadow: 5px -5px 15px -11px rgba(0,0,0,0.58);
    border-radius: 20px;
    width: 100%;
    padding: 10px 20px;
    line-height: 25px;
}

.card:hover { 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.39);
}

.import-export-btn {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    padding: 10px 0px;
    background: white;
    border: none;
    display: block;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.import-export-btn:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.274);
    text-decoration: none;
    color: black;
    border-bottom: 3px solid rgb(231, 231, 231);
}

#fileBrowser {
    padding: 0px;
}

#accordion {
    width: 100%;
}

#fixed-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* background-color: darkgrey; */
    background: linear-gradient(90deg, #007bff 50%, rgb(58, 58, 58) 50%);
    color: white;
}

.red-line {
    border-right: red double;
}

#minus-btn, #plus-btn {
    border: none;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background: rgb(231, 231, 231);
}

#item-name {
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 5px;
}

.input-row {
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
}

#mobileQuantity input {
    width: 100% ;
}

.location-input {
    width: 100%;
    background: none;
    border: none;
    height: 100%;
    color: black;
    padding-left: 16.6%;
}

.location-input::placeholder {
    color: black;
    padding-right: 16.6%;
}

.location-container {
    /* background-color: white; */
    border: none;
    border-radius: 20px;
    color: black;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.315); */
}

.colour-complete {
    background-color: #D4EDDA;
    transition: background-color 70ms linear;
}

.colour-remind {
    background-color: #FFF3CD;
    transition: background-color 70ms linear;
}

.colour-neutral {
    transition: background-color 70ms linear;
}

/* SOURCE: https://stackoverflow.com/questions/38661118/centering-text-in-row-with-bootstrap-grid */
/* .center::before {
    content:"";
    margin-left: 16.6%;
} */

.location-buttons {
    width: 100%;
    height: 100%;
    color: black;
    font-size: 18px;
    border: none;
    /* border-bottom: 4px solid rgb(91, 247, 174); */
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    border-radius: 8px 0px 0px 8px;
}

.location-btn-0 {
    border-left: 6px solid #3F6292;
}

.location-btn-1  {
    border-left: 6px solid #D57967;
}

.location-btn-2 {
    border-left: 6px solid #AABE8D;
}

.location-btn-3 {
    border-left: 6px solid #F2E2BC;
}

.location-btn-4 {
    border-left: 6px solid #CA546A;
}

.location-btn-5 {
    border-left: 6px solid #E26E5C;
}

.col-2 > .location-edit {
    transition: background-color 0.3s ease;
}

.col-2 > .location-edit:hover {
    background-color: rgb(243, 243, 243);
    transition: background-color 0.3s linear;
    border-radius: 0 8px 8px 0;
}

.hover {
    transition: border-width 0.3s ease;
}

.hover:hover {
    border-width: 24px;
    transition: border-width 0.3s linear;
    /* background-color: #F2E2BC; */
    /* color: white; */
}

.card-header {
    background: none;
    cursor: pointer;
}

.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    overflow: hidden;
}

.card a {
    color: black;
}

.card a:hover {
    text-decoration: none;
    color: black;
}

.location-edit {
    border-radius: 0px 8px 8px 0px;
}

.location-edit:hover {
    background-color: rgba(255, 255, 255, 0.568);
    color: black;
}

.remove-field {
    background: none;
    border: none;
}

.quantity-number {
    padding: 5px 8px;
    vertical-align: middle;
    border: dotted black 1px;
    border-radius: 8px;
}

/* Source: https://www.w3schools.com/css/css3_2dtransforms.asp */
input[type="checkbox"] {
    transform:scale(1.5, 1.5);
    margin: 0px 10px;
    vertical-align: middle;
  }

/* LOOK INTO THIS */
#menu-controls { 
    /* min-height: 100vh; */
}

#banner-img {
    /* background-image: url("https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/325253_2200-1200x628.jpg"); */
    background-image: url("images/banner-default.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #299D8E;
    background-position: center;
    border-radius: 20px;
    height: 40vh;
    width: 100vw;
}

#hero-banner {
    position: relative;
}

.table-title {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-left: 1%;
    margin-bottom: 1%;
    box-shadow: 5px -5px 15px -11px rgba(0,0,0,0.58);
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    display: none;
    font-size: 3vmax;
}

#settings-btn {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    border-radius: 10px;
    padding: 6px 10px 0px 10px;
    margin-bottom: 10px;
    /* SOURCE: https://stackoverflow.com/a/9612782  */
    border: 3px solid transparent;
    background-color: rgb(247, 247, 247);
}

#addNew {
    width: 100%;
    margin: 10px 0px;
}

.hero-btn {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    border-radius: 10px;
    border: none;
    padding: 15px 0px 10px 0px;
    margin-bottom: 10px;
    background-color: white;
    width: 100%;
    height: 65px;
    position: relative;
}

.hero-btn a {
    color: black;
    text-align: center;
}

/* SOURCE: https://stackoverflow.com/a/38850580 */
.hero-btn:after {
    background: rgb(63,98,146);
    background: linear-gradient(90deg, rgba(63,98,146,1) 0%, rgba(213,121,103,1) 20%, rgba(242,226,188,1) 40%, rgba(170,190,141,1) 60%, rgba(202,84,106,1) 80%, rgba(226,110,92,1) 100%);
    position: absolute;
    content: '';
    height: 6px;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
}

.emailSubmit {
    background: none;
    border: none;
    width: 18%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    padding: 10px 0px;
    float: right;
    margin: 10px 0px;
}

#emailInput {
    width: 100%;
    padding: 0px;
    float: left;
}

#emailInput input {
    width: 80%;
    border-radius: 10px;
    padding: 10px 0px;
    margin: 10px 0px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

#settings-btn.collapsed {
    background-color: white;
}

#settings-btn a {
    color: black;
    text-decoration: none;
}

#settings-btn:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.274);
    text-decoration: none;
    color: black;
    border-bottom: 3px solid rgb(231, 231, 231);
    color: black;
}

#settings-content {
    margin: 20px 0px;
}

.options-btn {
    background: none;
    border: none;
    border-radius: 10px;
    margin: 10px 0px;
    font-size: large;
    border: 3px solid transparent;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.274);
    padding: 15px;
    min-width: 80%;
}

.options-btn i {
    float: left;
    margin: 5px 0px;
}

.options-btn:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.274);
    border-bottom: 3px solid rgb(231, 231, 231);
}

.open-close-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    margin-right: 1%;
    margin-bottom: 1%;
    box-shadow: 5px -5px 15px -11px rgba(0,0,0,0.58);
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.open-close-btn:hover {
    background-color: rgba(255, 255, 255, 0.603);
    color: rgba(0, 0, 0, 0.603);
}

@media only screen and (max-width: 768px) {
    #shopping-list {
        min-height: 97vh;
    }

    #add-button i{
        font-size: 50px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: white;
        border: solid white 5px;
        color: rgb(12, 150, 138);
        border-radius: 50%;
    }

}
